.about-header h1 {
    font-size: 20px;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 10px;
    padding: 10px 20px;
    color: white;
    background-color: #104a2e;
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

.mission-statement {
    text-align: center;
    font-size: 15px;
    color: #104a2e;
    font-style: oblique;
}

/* Slideshow container */
.slideshow-container {
    height: 100px;
    /* background: #f1f1f1f1; */
}

/* Slides */
.mySlides {
    display: none;
    text-align: center;
    color: #104a2e;
    font-weight: bold;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    /* background: #ddd; */
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* background color to the active dot/circle */
.dot:hover {
    background-color: #104a2e;
}

.dot.active {
    background-color: #104a2e;

}

/* About Doodlesstick Section */
.about-doodlesstick {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: #f4f4f4;
}

.about-image {
    flex: 1;
    padding: 10px;
}

.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.about-text {
    flex: 2;
    padding: 10px;
    color: #104a2e;
    text-align: center;
}

.about-text h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.about-text p {
    font-size: 16px;
    line-height: 1.6;
}



/* Media query for larger screens (e.g., tablets and desktops) */
@media(min-width: 768px) {
    .about-doodlesstick {
        flex-direction: row;
        align-items: flex-start;
        text-align: left;
    }

    .about-image {
        flex: 1;
        padding: 10px;
    }

    .about-text {
        flex: 2;
        padding: 10px;
    }
}
