body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.booking-section {
    margin-top: 90px;
    padding: 20px;
    background-color: #f5f5f5;
    text-align: center;
}

.booking-header {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: left;
    /* margin-left: 20px; */
}

.booking-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
}

.booking-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    min-height: 300px;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
    margin-bottom: 15px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    height: 100%;
}

.card-title{
    font-size: 16px;
    margin-bottom: 10px;
    overflow-wrap: break-word;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
}

.card-hours {
    font-size: 16px;
    margin-bottom: 10px;
}

.card-contact {
    font-size: 14px;
    color: #104a2e;
    margin-bottom: 15px;
}

.book-now-button {
    padding: 10px 20px;
    background-color: #104a2e;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: auto;
}

.book-now-button:hover {
    background-color: #45a049;
}

/* Responsive Design */
@media (max-width: 600px) {
    .booking-cards {
        grid-template-columns: 1fr;
    }
    
}
