.supported-living {
    margin-top: 120px;
    /*position: relative;*/
    margin-bottom: 40px;
}

.supported-living-container {
    /*display: flex;*/
    /*flex-direction: row;*/
    /*align-items: flex-start;*/
    /*width: 100%;*/
    padding: 0 40px;
}

.supported-living-image {
    position: relative;
    flex: 1;
    margin-left: 90px;
}

.supported-living-image img {
    max-width: 1000px;
    width: 100%;
    height: 100%;
    max-height: 500px;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
}

.supported-living-card {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-height: max-content;
    margin-top: -50px;
    /*z-index: 10000;*/
    padding: 50px;
    background: #104a2e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-sizing: border-box;
}

.supported-living-card h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-transform: capitalize;
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

.supported-living-card ul {
    color: #fff;
    list-style-type: disc;
    margin: 0;
    padding: 0;
}

.supported-living-card ul li {
    margin-bottom: 20px;
    font-size: 18px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .supported-living {
        position: relative;
        margin-bottom: 300vw;
    }

    .supported-living-container {
        flex-direction: column;
    }

    .supported-living-image {
        position: relative;
        flex: 1;
        margin-left: 10px;
    }

    .supported-living-image img {
        width: 95%;
        display: block;
        border-radius: 10px;
    }

    .supported-living-card {
        position: absolute;
        top: 90%;
        right: 18px;
        width: 95%;
        height: 280vw;
        padding: 50px;
        background: #104a2e;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        box-sizing: border-box;
    }

    .supported-living-card h2 {
        margin-top: 0;
        margin-bottom: 20px;
        text-transform: capitalize;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        color: #fff;
    }

    .supported-living-card ul {
        color: #fff;
        list-style-type: disc;
        margin: 0;
        padding: 0;
    }

    .supported-living-card ul li {
        margin-bottom: 20px;
        font-size: 14px;
    }
}
