.healthcare-training {
    margin-top: 120px;
    position: relative;
    margin-bottom: 75vw;
}

.healthcare-training-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}

.healthcare-training-image {
    position: relative;
    flex: 1;
    margin-left: 90px;
}

.healthcare-training-image img {
    width: 65vw;
    height: 30vw;
    display: block;
    border-radius: 10px;
}

.healthcare-training-card {
    position: absolute;
    top: 60%;
    right: 90px;
    width: 50%;
    height: 85vw;
    padding: 50px;
    background: #104a2e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-sizing: border-box;
}

.healthcare-training-card h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

.healthcare-training-card ul {
    color: #fff;
    list-style-type: disc;
    margin: 0;
    padding: 0;
}

.healthcare-training-card ul li {
    margin-bottom: 20px;
    font-size: 18px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .healthcare-training {
        position: relative;
        margin-bottom: 255vw;
    }

    .healthcare-training-container {
        flex-direction: column;
    }

    .healthcare-training-image {
        position: relative;
        flex: 1;
        margin-left: 10px;
    }

    .healthcare-training-image img {
        width: 94vw;
        height: 40vw;
        display: block;
        border-radius: 10px;
    }

    .healthcare-training-card {
        position: absolute;
        top: 90%;
        right: 0px;
        width: 100%;
        height: 255vw;
        padding: 50px;
        background: #104a2e;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        box-sizing: border-box;
    }

    .healthcare-training-card h2 {
        margin-top: 0;
        margin-bottom: 20px;
        text-transform: capitalize;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        color: #fff;
    }

    .healthcare-training-card ul {
        color: #fff;
        list-style-type: disc;
        margin: 0;
        padding: 0;
    }

    .healthcare-training-card ul li {
        margin-bottom: 20px;
        font-size: 14px;
    }
    
}