.job-listing {
    text-align: center;
    padding: 2rem;
}

.job-listing-title {
    font-size: 20px;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 10px;
    padding: 10px 20px;
    color: white;
    background-color: #104a2e;
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

/* Job Box */
.job-box {
    background-color: #104a2e;
    padding: 1.5rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    color: #fff;
    width: 90%;
    max-width: 800px;
    margin: 10px auto;
    /* flex-direction: column; */
}

/* Job Title */
.job-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;
}

/* Apply Button */
.apply-button a {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    border: 2px solid #fff;
    color: #fff;
    background-color: transparent;
    border-radius: 0.25rem;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.apply-button a:hover {
    background-color: #fff;
    color: #104a2e;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .job-listing-title {
        font-size: 1.5rem;
        margin-top: 80px;
    }

    .job-box {
        width: 95%;
        flex-direction: column;
        align-items: center;
    }

    .job-title {
        font-size: 1.125rem;
    }

    .apply-button a {
        padding: 0.5rem;
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .job-listing-title {
        font-size: 1.25rem;
        margin-top: 60px;
    }

    .job-box {
        width: 100%;
    }

    .job-title {
        font-size: 1rem;
    }

    .apply-button a {
        padding: 0.5rem 0.75rem;
        font-size: 0.875rem;
    }
}
